In [1]:
import pandas as pd
import finance_func as ff

In [2]:
df = pd.read_csv('BYN_RC_F01_01_2005_T31_12_2018.csv')

In [3]:
df.head()

   nominal        data     curs                cdx
0        1  2018-12-30  32.0732  Белорусский рубль
1        1  2018-12-29  32.1935  Белорусский рубль
2        1  2018-12-28  32.0503  Белорусский рубль
3        1  2018-12-27  32.0805  Белорусский рубль
4        1  2018-12-26  32.1237  Белорусский рубль

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nominal  3472 non-null   int64
 1   data     3472 non-null   object
 2   curs     3472 non-null   float64
 3   cdx      3472 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 108.6+ KB

In [5]:
df['data'] = pd.to_datetime(df.data, format='%Y-%m-%d')

In [6]:
# Посмотрим волатильность курса за 2018 год
df_curs_2018 = df \
    .assign(year=df.data.dt.year) \
    .query('year==2018') \
    .sort_values('data', ascending=True)[['curs']] \
    .reset_index(drop=True)

In [7]:
arr_volat = ff.volatility(df_curs_2018).values

In [9]:
arr_volat

array([0.57272042])